click
Flask
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
python-dotenv
Werkzeug
zipp
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
alembic
Mako
psycopg2-binary
python-dateutil
python-editor
six
SQLAlchemy
WTForms